<a href="https://colab.research.google.com/github/veronikacoding/data-and-python/blob/main/Projects/Female_employment_data_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Female employment rates

## 1971 to 2023 UK

Link to data source: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/lf25/lms

The data has been retrieved and used to create a list of dictionary records.  Each record contains a time_period and the female employment rate (seasonally adjusted %) for the UK.

Some questions to ask of the data might be how much the percentage of the female population in the workplace has changed since 1971, is the rate of change different in different parts of the year?

Run the code cell below to generate, and print, a list of dictionaries, so that you can see the data.

In [1]:
import pandas as pd

def get_data():
  url = "https://drive.google.com/uc?id=1aQ8Xy-Sw046j-JCiIOu3ETqrACFsYuCj"
  df = pd.read_csv(url, skiprows=8, header=None)
  time_periods = df[0].tolist()
  employment = df[1].tolist()
  datalist = []
  for i in range(len(df)):
    datalist.append({"Time_period":time_periods[i], "Employment":employment[i]})
  return datalist

employment_data = get_data()
for item in employment_data:
  print(item)

{'Time_period': '1971', 'Employment': 52.7}
{'Time_period': '1972', 'Employment': 53.2}
{'Time_period': '1973', 'Employment': 54.6}
{'Time_period': '1974', 'Employment': 55.4}
{'Time_period': '1975', 'Employment': 55.6}
{'Time_period': '1976', 'Employment': 55.3}
{'Time_period': '1977', 'Employment': 55.4}
{'Time_period': '1978', 'Employment': 55.9}
{'Time_period': '1979', 'Employment': 56.6}
{'Time_period': '1980', 'Employment': 56.7}
{'Time_period': '1981', 'Employment': 55.6}
{'Time_period': '1982', 'Employment': 54.6}
{'Time_period': '1983', 'Employment': 54.2}
{'Time_period': '1984', 'Employment': 55.5}
{'Time_period': '1985', 'Employment': 56.6}
{'Time_period': '1986', 'Employment': 57.6}
{'Time_period': '1987', 'Employment': 59.0}
{'Time_period': '1988', 'Employment': 61.0}
{'Time_period': '1989', 'Employment': 62.8}
{'Time_period': '1990', 'Employment': 63.3}
{'Time_period': '1991', 'Employment': 62.5}
{'Time_period': '1992', 'Employment': 61.8}
{'Time_period': '1993', 'Employment': 61.8}
{'Time_period': '1994', 'Employment': 62.2}
{'Time_period': '1995', 'Employment': 62.8}
{'Time_period': '1996', 'Employment': 63.5}
{'Time_period': '1997', 'Employment': 64.2}
{'Time_period': '1998', 'Employment': 64.7}
{'Time_period': '1999', 'Employment': 65.3}
{'Time_period': '2000', 'Employment': 65.9}
{'Time_period': '2001', 'Employment': 66.1}
{'Time_period': '2002', 'Employment': 66.3}
{'Time_period': '2003', 'Employment': 66.4}
{'Time_period': '2004', 'Employment': 66.7}
{'Time_period': '2005', 'Employment': 66.8}
{'Time_period': '2006', 'Employment': 66.9}
{'Time_period': '2007', 'Employment': 66.6}
{'Time_period': '2008', 'Employment': 66.8}
{'Time_period': '2009', 'Employment': 65.9}
{'Time_period': '2010', 'Employment': 65.5}
{'Time_period': '2011', 'Employment': 65.4}
{'Time_period': '2012', 'Employment': 65.9}
{'Time_period': '2013', 'Employment': 66.7}
{'Time_period': '2014', 'Employment': 68.0}
{'Time_period': '2015', 'Employment': 68.8}
{'Time_period': '2016', 'Employment': 69.6}
{'Time_period': '2017', 'Employment': 70.5}
{'Time_period': '2018', 'Employment': 71.2}
{'Time_period': '2019', 'Employment': 72.0}
{'Time_period': '2020', 'Employment': 71.9}
{'Time_period': '2021', 'Employment': 71.9}
{'Time_period': '2022', 'Employment': 72.2}
{'Time_period': '1971 Q1', 'Employment': 52.8}
{'Time_period': '1971 Q2', 'Employment': 52.7}
{'Time_period': '1971 Q3', 'Employment': 52.7}
{'Time_period': '1971 Q4', 'Employment': 52.6}
{'Time_period': '1972 Q1', 'Employment': 52.9}
{'Time_period': '1972 Q2', 'Employment': 53.1}
{'Time_period': '1972 Q3', 'Employment': 53.3}
{'Time_period': '1972 Q4', 'Employment': 53.6}
{'Time_period': '1973 Q1', 'Employment': 54.2}
{'Time_period': '1973 Q2', 'Employment': 54.5}
{'Time_period': '1973 Q3', 'Employment': 54.7}
{'Time_period': '1973 Q4', 'Employment': 54.9}
{'Time_period': '1974 Q1', 'Employment': 55.1}
{'Time_period': '1974 Q2', 'Employment': 55.3}
{'Time_period': '1974 Q3', 'Employment': 55.6}
{'Time_period': '1974 Q4', 'Employment': 55.7}
{'Time_period': '1975 Q1', 'Employment': 55.6}
{'Time_period': '1975 Q2', 'Employment': 55.6}
{'Time_period': '1975 Q3', 'Employment': 55.6}
{'Time_period': '1975 Q4', 'Employment': 55.5}
{'Time_period': '1976 Q1', 'Employment': 55.4}
{'Time_period': '1976 Q2', 'Employment': 55.3}
{'Time_period': '1976 Q3', 'Employment': 55.3}
{'Time_period': '1976 Q4', 'Employment': 55.3}
{'Time_period': '1977 Q1', 'Employment': 55.4}
{'Time_period': '1977 Q2', 'Employment': 55.4}
{'Time_period': '1977 Q3', 'Employment': 55.4}
{'Time_period': '1977 Q4', 'Employment': 55.5}
{'Time_period': '1978 Q1', 'Employment': 55.6}
{'Time_period': '1978 Q2', 'Employment': 55.8}
{'Time_period': '1978 Q3', 'Employment': 55.9}
{'Time_period': '1978 Q4', 'Employment': 56.2}
{'Time_period': '1979 Q1', 'Employment': 56.3}
{'Time_period': '1979 Q2', 'Employment': 56.5}
{'Time_period': '1979 Q3', 'Employment': 56.7}
{'Time_period': '1979 Q4', 'Employment': 56.9}
{'Time_period': '1980 Q1', 'Employment': 56.9}
{'Time_period': '1980 Q2', 'Employment': 56.8}
{'Time_period': '1980 Q3', 'Employment': 56.6}
{'Time_period': '1980 Q4', 'Employment': 56.3}
{'Time_period': '1981 Q1', 'Employment': 56.0}
{'Time_period': '1981 Q2', 'Employment': 55.7}
{'Time_period': '1981 Q3', 'Employment': 55.5}
{'Time_period': '1981 Q4', 'Employment': 55.3}
{'Time_period': '1982 Q1', 'Employment': 55.0}
{'Time_period': '1982 Q2', 'Employment': 54.8}
{'Time_period': '1982 Q3', 'Employment': 54.5}
{'Time_period': '1982 Q4', 'Employment': 54.1}
{'Time_period': '1983 Q1', 'Employment': 53.8}
{'Time_period': '1983 Q2', 'Employment': 53.8}
{'Time_period': '1983 Q3', 'Employment': 54.3}
{'Time_period': '1983 Q4', 'Employment': 54.8}
{'Time_period': '1984 Q1', 'Employment': 55.1}
{'Time_period': '1984 Q2', 'Employment': 55.4}
{'Time_period': '1984 Q3', 'Employment': 55.6}
{'Time_period': '1984 Q4', 'Employment': 56.0}
{'Time_period': '1985 Q1', 'Employment': 56.2}
{'Time_period': '1985 Q2', 'Employment': 56.5}
{'Time_period': '1985 Q3', 'Employment': 56.8}
{'Time_period': '1985 Q4', 'Employment': 57.0}
{'Time_period': '1986 Q1', 'Employment': 57.2}
{'Time_period': '1986 Q2', 'Employment': 57.5}
{'Time_period': '1986 Q3', 'Employment': 57.7}
{'Time_period': '1986 Q4', 'Employment': 58.1}
{'Time_period': '1987 Q1', 'Employment': 58.3}
{'Time_period': '1987 Q2', 'Employment': 58.7}
{'Time_period': '1987 Q3', 'Employment': 59.3}
{'Time_period': '1987 Q4', 'Employment': 59.9}
{'Time_period': '1988 Q1', 'Employment': 60.3}
{'Time_period': '1988 Q2', 'Employment': 60.7}
{'Time_period': '1988 Q3', 'Employment': 61.3}
{'Time_period': '1988 Q4', 'Employment': 61.8}
{'Time_period': '1989 Q1', 'Employment': 62.4}
{'Time_period': '1989 Q2', 'Employment': 62.7}
{'Time_period': '1989 Q3', 'Employment': 62.8}
{'Time_period': '1989 Q4', 'Employment': 63.1}
{'Time_period': '1990 Q1', 'Employment': 63.2}
{'Time_period': '1990 Q2', 'Employment': 63.4}
{'Time_period': '1990 Q3', 'Employment': 63.4}
{'Time_period': '1990 Q4', 'Employment': 63.3}
{'Time_period': '1991 Q1', 'Employment': 62.9}
{'Time_period': '1991 Q2', 'Employment': 62.6}
{'Time_period': '1991 Q3', 'Employment': 62.3}
{'Time_period': '1991 Q4', 'Employment': 62.1}
{'Time_period': '1992 Q1', 'Employment': 62.0}
{'Time_period': '1992 Q2', 'Employment': 61.8}
{'Time_period': '1992 Q3', 'Employment': 61.8}
{'Time_period': '1992 Q4', 'Employment': 61.8}
{'Time_period': '1993 Q1', 'Employment': 61.6}
{'Time_period': '1993 Q2', 'Employment': 61.8}
{'Time_period': '1993 Q3', 'Employment': 62.0}
{'Time_period': '1993 Q4', 'Employment': 61.9}
{'Time_period': '1994 Q1', 'Employment': 62.1}
{'Time_period': '1994 Q2', 'Employment': 62.2}
{'Time_period': '1994 Q3', 'Employment': 62.3}
{'Time_period': '1994 Q4', 'Employment': 62.2}
{'Time_period': '1995 Q1', 'Employment': 62.5}
{'Time_period': '1995 Q2', 'Employment': 62.7}
{'Time_period': '1995 Q3', 'Employment': 62.9}
{'Time_period': '1995 Q4', 'Employment': 63.3}
{'Time_period': '1996 Q1', 'Employment': 63.4}
{'Time_period': '1996 Q2', 'Employment': 63.4}
{'Time_period': '1996 Q3', 'Employment': 63.5}
{'Time_period': '1996 Q4', 'Employment': 63.8}
{'Time_period': '1997 Q1', 'Employment': 64.0}
{'Time_period': '1997 Q2', 'Employment': 64.3}
{'Time_period': '1997 Q3', 'Employment': 64.3}
{'Time_period': '1997 Q4', 'Employment': 64.3}
{'Time_period': '1998 Q1', 'Employment': 64.4}
{'Time_period': '1998 Q2', 'Employment': 64.4}
{'Time_period': '1998 Q3', 'Employment': 64.8}
{'Time_period': '1998 Q4', 'Employment': 65.1}
{'Time_period': '1999 Q1', 'Employment': 65.2}
{'Time_period': '1999 Q2', 'Employment': 65.2}
{'Time_period': '1999 Q3', 'Employment': 65.4}
{'Time_period': '1999 Q4', 'Employment': 65.6}
{'Time_period': '2000 Q1', 'Employment': 65.6}
{'Time_period': '2000 Q2', 'Employment': 65.9}
{'Time_period': '2000 Q3', 'Employment': 66.1}
{'Time_period': '2000 Q4', 'Employment': 65.9}
{'Time_period': '2001 Q1', 'Employment': 65.9}
{'Time_period': '2001 Q2', 'Employment': 66.3}
{'Time_period': '2001 Q3', 'Employment': 65.9}
{'Time_period': '2001 Q4', 'Employment': 66.2}
{'Time_period': '2002 Q1', 'Employment': 66.1}
{'Time_period': '2002 Q2', 'Employment': 66.5}
{'Time_period': '2002 Q3', 'Employment': 66.4}
{'Time_period': '2002 Q4', 'Employment': 66.4}
{'Time_period': '2003 Q1', 'Employment': 66.4}
{'Time_period': '2003 Q2', 'Employment': 66.4}
{'Time_period': '2003 Q3', 'Employment': 66.4}
{'Time_period': '2003 Q4', 'Employment': 66.6}
{'Time_period': '2004 Q1', 'Employment': 66.8}
{'Time_period': '2004 Q2', 'Employment': 66.6}
{'Time_period': '2004 Q3', 'Employment': 66.6}
{'Time_period': '2004 Q4', 'Employment': 66.8}
{'Time_period': '2005 Q1', 'Employment': 66.9}
{'Time_period': '2005 Q2', 'Employment': 66.8}
{'Time_period': '2005 Q3', 'Employment': 67.1}
{'Time_period': '2005 Q4', 'Employment': 66.6}
{'Time_period': '2006 Q1', 'Employment': 67.1}
{'Time_period': '2006 Q2', 'Employment': 67.0}
{'Time_period': '2006 Q3', 'Employment': 66.7}
{'Time_period': '2006 Q4', 'Employment': 66.7}
{'Time_period': '2007 Q1', 'Employment': 66.4}
{'Time_period': '2007 Q2', 'Employment': 66.5}
{'Time_period': '2007 Q3', 'Employment': 66.6}
{'Time_period': '2007 Q4', 'Employment': 66.8}
{'Time_period': '2008 Q1', 'Employment': 67.0}
{'Time_period': '2008 Q2', 'Employment': 67.0}
{'Time_period': '2008 Q3', 'Employment': 66.7}
{'Time_period': '2008 Q4', 'Employment': 66.5}
{'Time_period': '2009 Q1', 'Employment': 66.2}
{'Time_period': '2009 Q2', 'Employment': 65.7}
{'Time_period': '2009 Q3', 'Employment': 65.8}
{'Time_period': '2009 Q4', 'Employment': 65.9}
{'Time_period': '2010 Q1', 'Employment': 65.6}
{'Time_period': '2010 Q2', 'Employment': 65.5}
{'Time_period': '2010 Q3', 'Employment': 65.6}
{'Time_period': '2010 Q4', 'Employment': 65.2}
{'Time_period': '2011 Q1', 'Employment': 65.5}
{'Time_period': '2011 Q2', 'Employment': 65.4}
{'Time_period': '2011 Q3', 'Employment': 65.3}
{'Time_period': '2011 Q4', 'Employment': 65.4}
{'Time_period': '2012 Q1', 'Employment': 65.4}
{'Time_period': '2012 Q2', 'Employment': 65.8}
{'Time_period': '2012 Q3', 'Employment': 66.0}
{'Time_period': '2012 Q4', 'Employment': 66.5}
{'Time_period': '2013 Q1', 'Employment': 66.5}
{'Time_period': '2013 Q2', 'Employment': 66.6}
{'Time_period': '2013 Q3', 'Employment': 66.7}
{'Time_period': '2013 Q4', 'Employment': 67.1}
{'Time_period': '2014 Q1', 'Employment': 67.6}
{'Time_period': '2014 Q2', 'Employment': 67.9}
{'Time_period': '2014 Q3', 'Employment': 68.1}
{'Time_period': '2014 Q4', 'Employment': 68.5}
{'Time_period': '2015 Q1', 'Employment': 68.6}
{'Time_period': '2015 Q2', 'Employment': 68.7}
{'Time_period': '2015 Q3', 'Employment': 69.0}
{'Time_period': '2015 Q4', 'Employment': 69.1}
{'Time_period': '2016 Q1', 'Employment': 69.2}
{'Time_period': '2016 Q2', 'Employment': 69.6}
{'Time_period': '2016 Q3', 'Employment': 69.7}
{'Time_period': '2016 Q4', 'Employment': 70.0}
{'Time_period': '2017 Q1', 'Employment': 70.2}
{'Time_period': '2017 Q2', 'Employment': 70.5}
{'Time_period': '2017 Q3', 'Employment': 70.6}
{'Time_period': '2017 Q4', 'Employment': 70.8}
{'Time_period': '2018 Q1', 'Employment': 71.2}
{'Time_period': '2018 Q2', 'Employment': 71.0}
{'Time_period': '2018 Q3', 'Employment': 71.1}
{'Time_period': '2018 Q4', 'Employment': 71.4}
{'Time_period': '2019 Q1', 'Employment': 71.8}
{'Time_period': '2019 Q2', 'Employment': 72.1}
{'Time_period': '2019 Q3', 'Employment': 71.8}
{'Time_period': '2019 Q4', 'Employment': 72.4}
{'Time_period': '2020 Q1', 'Employment': 72.5}
{'Time_period': '2020 Q2', 'Employment': 71.9}
{'Time_period': '2020 Q3', 'Employment': 71.7}
{'Time_period': '2020 Q4', 'Employment': 71.4}
{'Time_period': '2021 Q1', 'Employment': 71.6}
{'Time_period': '2021 Q2', 'Employment': 71.9}
{'Time_period': '2021 Q3', 'Employment': 72.0}
{'Time_period': '2021 Q4', 'Employment': 72.2}
{'Time_period': '2022 Q1', 'Employment': 72.3}
{'Time_period': '2022 Q2', 'Employment': 72.2}
{'Time_period': '2022 Q3', 'Employment': 72.1}
{'Time_period': '2022 Q4', 'Employment': 72.3}
{'Time_period': '2023 Q1', 'Employment': 72.3}
{'Time_period': '2023 Q2', 'Employment': 72.1}
{'Time_period': '1971 FEB', 'Employment': 52.8}
{'Time_period': '1971 MAR', 'Employment': 52.7}
{'Time_period': '1971 APR', 'Employment': 52.7}
{'Time_period': '1971 MAY', 'Employment': 52.7}
{'Time_period': '1971 JUN', 'Employment': 52.7}
{'Time_period': '1971 JUL', 'Employment': 52.7}
{'Time_period': '1971 AUG', 'Employment': 52.7}
{'Time_period': '1971 SEP', 'Employment': 52.6}
{'Time_period': '1971 OCT', 'Employment': 52.6}
{'Time_period': '1971 NOV', 'Employment': 52.6}
{'Time_period': '1971 DEC', 'Employment': 52.7}
{'Time_period': '1972 JAN', 'Employment': 52.8}
{'Time_period': '1972 FEB', 'Employment': 52.9}
{'Time_period': '1972 MAR', 'Employment': 53.0}
{'Time_period': '1972 APR', 'Employment': 53.1}
{'Time_period': '1972 MAY', 'Employment': 53.1}
{'Time_period': '1972 JUN', 'Employment': 53.2}
{'Time_period': '1972 JUL', 'Employment': 53.2}
{'Time_period': '1972 AUG', 'Employment': 53.3}
{'Time_period': '1972 SEP', 'Employment': 53.4}
{'Time_period': '1972 OCT', 'Employment': 53.5}
{'Time_period': '1972 NOV', 'Employment': 53.6}
{'Time_period': '1972 DEC', 'Employment': 53.8}
{'Time_period': '1973 JAN', 'Employment': 54.0}
{'Time_period': '1973 FEB', 'Employment': 54.2}
{'Time_period': '1973 MAR', 'Employment': 54.3}
{'Time_period': '1973 APR', 'Employment': 54.5}
{'Time_period': '1973 MAY', 'Employment': 54.5}
{'Time_period': '1973 JUN', 'Employment': 54.5}
{'Time_period': '1973 JUL', 'Employment': 54.6}
{'Time_period': '1973 AUG', 'Employment': 54.7}
{'Time_period': '1973 SEP', 'Employment': 54.8}
{'Time_period': '1973 OCT', 'Employment': 54.9}
{'Time_period': '1973 NOV', 'Employment': 54.9}
{'Time_period': '1973 DEC', 'Employment': 55.0}
{'Time_period': '1974 JAN', 'Employment': 55.1}
{'Time_period': '1974 FEB', 'Employment': 55.1}
{'Time_period': '1974 MAR', 'Employment': 55.2}
{'Time_period': '1974 APR', 'Employment': 55.2}
{'Time_period': '1974 MAY', 'Employment': 55.3}
{'Time_period': '1974 JUN', 'Employment': 55.4}
{'Time_period': '1974 JUL', 'Employment': 55.5}
{'Time_period': '1974 AUG', 'Employment': 55.6}
{'Time_period': '1974 SEP', 'Employment': 55.7}
{'Time_period': '1974 OCT', 'Employment': 55.7}
{'Time_period': '1974 NOV', 'Employment': 55.7}
{'Time_period': '1974 DEC', 'Employment': 55.7}
{'Time_period': '1975 JAN', 'Employment': 55.7}
{'Time_period': '1975 FEB', 'Employment': 55.6}
{'Time_period': '1975 MAR', 'Employment': 55.6}
{'Time_period': '1975 APR', 'Employment': 55.6}
{'Time_period': '1975 MAY', 'Employment': 55.6}
{'Time_period': '1975 JUN', 'Employment': 55.6}
{'Time_period': '1975 JUL', 'Employment': 55.6}
{'Time_period': '1975 AUG', 'Employment': 55.6}
{'Time_period': '1975 SEP', 'Employment': 55.5}
{'Time_period': '1975 OCT', 'Employment': 55.5}
{'Time_period': '1975 NOV', 'Employment': 55.5}
{'Time_period': '1975 DEC', 'Employment': 55.4}
{'Time_period': '1976 JAN', 'Employment': 55.4}
{'Time_period': '1976 FEB', 'Employment': 55.4}
{'Time_period': '1976 MAR', 'Employment': 55.3}
{'Time_period': '1976 APR', 'Employment': 55.3}
{'Time_period': '1976 MAY', 'Employment': 55.3}
{'Time_period': '1976 JUN', 'Employment': 55.3}
{'Time_period': '1976 JUL', 'Employment': 55.3}
{'Time_period': '1976 AUG', 'Employment': 55.3}
{'Time_period': '1976 SEP', 'Employment': 55.3}
{'Time_period': '1976 OCT', 'Employment': 55.3}
{'Time_period': '1976 NOV', 'Employment': 55.3}
{'Time_period': '1976 DEC', 'Employment': 55.3}
{'Time_period': '1977 JAN', 'Employment': 55.4}
{'Time_period': '1977 FEB', 'Employment': 55.4}
{'Time_period': '1977 MAR', 'Employment': 55.4}
{'Time_period': '1977 APR', 'Employment': 55.4}
{'Time_period': '1977 MAY', 'Employment': 55.4}
{'Time_period': '1977 JUN', 'Employment': 55.4}
{'Time_period': '1977 JUL', 'Employment': 55.4}
{'Time_period': '1977 AUG', 'Employment': 55.4}
{'Time_period': '1977 SEP', 'Employment': 55.5}
{'Time_period': '1977 OCT', 'Employment': 55.5}
{'Time_period': '1977 NOV', 'Employment': 55.5}
{'Time_period': '1977 DEC', 'Employment': 55.5}
{'Time_period': '1978 JAN', 'Employment': 55.6}
{'Time_period': '1978 FEB', 'Employment': 55.6}
{'Time_period': '1978 MAR', 'Employment': 55.7}
{'Time_period': '1978 APR', 'Employment': 55.8}
{'Time_period': '1978 MAY', 'Employment': 55.8}
{'Time_period': '1978 JUN', 'Employment': 55.8}
{'Time_period': '1978 JUL', 'Employment': 55.9}
{'Time_period': '1978 AUG', 'Employment': 55.9}
{'Time_period': '1978 SEP', 'Employment': 56.0}
{'Time_period': '1978 OCT', 'Employment': 56.1}
{'Time_period': '1978 NOV', 'Employment': 56.2}
{'Time_period': '1978 DEC', 'Employment': 56.3}
{'Time_period': '1979 JAN', 'Employment': 56.3}
{'Time_period': '1979 FEB', 'Employment': 56.3}
{'Time_period': '1979 MAR', 'Employment': 56.3}
{'Time_period': '1979 APR', 'Employment': 56.4}
{'Time_period': '1979 MAY', 'Employment': 56.5}
{'Time_period': '1979 JUN', 'Employment': 56.6}
{'Time_period': '1979 JUL', 'Employment': 56.6}
{'Time_period': '1979 AUG', 'Employment': 56.7}
{'Time_period': '1979 SEP', 'Employment': 56.7}
{'Time_period': '1979 OCT', 'Employment': 56.8}
{'Time_period': '1979 NOV', 'Employment': 56.9}
{'Time_period': '1979 DEC', 'Employment': 56.9}
{'Time_period': '1980 JAN', 'Employment': 56.9}
{'Time_period': '1980 FEB', 'Employment': 56.9}
{'Time_period': '1980 MAR', 'Employment': 56.8}
{'Time_period': '1980 APR', 'Employment': 56.8}
{'Time_period': '1980 MAY', 'Employment': 56.8}
{'Time_period': '1980 JUN', 'Employment': 56.8}
{'Time_period': '1980 JUL', 'Employment': 56.7}
{'Time_period': '1980 AUG', 'Employment': 56.6}
{'Time_period': '1980 SEP', 'Employment': 56.5}
{'Time_period': '1980 OCT', 'Employment': 56.4}
{'Time_period': '1980 NOV', 'Employment': 56.3}
{'Time_period': '1980 DEC', 'Employment': 56.2}
{'Time_period': '1981 JAN', 'Employment': 56.1}
{'Time_period': '1981 FEB', 'Employment': 56.0}
{'Time_period': '1981 MAR', 'Employment': 55.9}
{'Time_period': '1981 APR', 'Employment': 55.8}
{'Time_period': '1981 MAY', 'Employment': 55.7}
{'Time_period': '1981 JUN', 'Employment': 55.6}
{'Time_period': '1981 JUL', 'Employment': 55.5}
{'Time_period': '1981 AUG', 'Employment': 55.5}
{'Time_period': '1981 SEP', 'Employment': 55.4}
{'Time_period': '1981 OCT', 'Employment': 55.3}
{'Time_period': '1981 NOV', 'Employment': 55.3}
{'Time_period': '1981 DEC', 'Employment': 55.2}
{'Time_period': '1982 JAN', 'Employment': 55.1}
{'Time_period': '1982 FEB', 'Employment': 55.0}
{'Time_period': '1982 MAR', 'Employment': 55.0}
{'Time_period': '1982 APR', 'Employment': 54.9}
{'Time_period': '1982 MAY', 'Employment': 54.8}
{'Time_period': '1982 JUN', 'Employment': 54.7}
{'Time_period': '1982 JUL', 'Employment': 54.6}
{'Time_period': '1982 AUG', 'Employment': 54.5}
{'Time_period': '1982 SEP', 'Employment': 54.4}
{'Time_period': '1982 OCT', 'Employment': 54.2}
{'Time_period': '1982 NOV', 'Employment': 54.1}
{'Time_period': '1982 DEC', 'Employment': 54.0}
{'Time_period': '1983 JAN', 'Employment': 53.9}
{'Time_period': '1983 FEB', 'Employment': 53.8}
{'Time_period': '1983 MAR', 'Employment': 53.7}
{'Time_period': '1983 APR', 'Employment': 53.8}
{'Time_period': '1983 MAY', 'Employment': 53.8}
{'Time_period': '1983 JUN', 'Employment': 54.0}
{'Time_period': '1983 JUL', 'Employment': 54.1}
{'Time_period': '1983 AUG', 'Employment': 54.3}
{'Time_period': '1983 SEP', 'Employment': 54.5}
{'Time_period': '1983 OCT', 'Employment': 54.7}
{'Time_period': '1983 NOV', 'Employment': 54.8}
{'Time_period': '1983 DEC', 'Employment': 55.0}
{'Time_period': '1984 JAN', 'Employment': 55.1}
{'Time_period': '1984 FEB', 'Employment': 55.1}
{'Time_period': '1984 MAR', 'Employment': 55.2}
{'Time_period': '1984 APR', 'Employment': 55.3}
{'Time_period': '1984 MAY', 'Employment': 55.4}
{'Time_period': '1984 JUN', 'Employment': 55.5}
{'Time_period': '1984 JUL', 'Employment': 55.6}
{'Time_period': '1984 AUG', 'Employment': 55.6}

There is a collection of different types of time_periods (whole years, years in quarters, months).

Observe the lists and then write code to create a set of smaller lists that make some sense.  Here are some ideas:

* a list of all the employment figures for whole years
* a list of all the employment figures for Q1 for all given years (and another for Q2, etc)
* a list of all the employment figures for January for all given years (and another for February, etc)

In [3]:
df = pd.DataFrame(employment_data)

In [20]:
#a list of all the employment figures for Q1 for all given years (to change the code to refer to other quarter, please change "Q1" to "Q2" and so on...)
q1_employment_figures = df[df["Time_period"].str.contains("Q1")]
for index, row in q1_employment_figures.iterrows():
  print(f'Time_period: {row["Time_period"]}, Employment: {row["Employment"]}')

Time_period: 1971 Q1, Employment: 52.8
Time_period: 1972 Q1, Employment: 52.9
Time_period: 1973 Q1, Employment: 54.2
Time_period: 1974 Q1, Employment: 55.1
Time_period: 1975 Q1, Employment: 55.6
Time_period: 1976 Q1, Employment: 55.4
Time_period: 1977 Q1, Employment: 55.4
Time_period: 1978 Q1, Employment: 55.6
Time_period: 1979 Q1, Employment: 56.3
Time_period: 1980 Q1, Employment: 56.9
Time_period: 1981 Q1, Employment: 56.0
Time_period: 1982 Q1, Employment: 55.0
Time_period: 1983 Q1, Employment: 53.8
Time_period: 1984 Q1, Employment: 55.1
Time_period: 1985 Q1, Employment: 56.2
Time_period: 1986 Q1, Employment: 57.2
Time_period: 1987 Q1, Employment: 58.3
Time_period: 1988 Q1, Employment: 60.3
Time_period: 1989 Q1, Employment: 62.4
Time_period: 1990 Q1, Employment: 63.2
Time_period: 1991 Q1, Employment: 62.9
Time_period: 1992 Q1, Employment: 62.0
Time_period: 1993 Q1, Employment: 61.6
Time_period: 1994 Q1, Employment: 62.1
Time_period: 1995 Q1, Employment: 62.5
Time_period: 1996 Q1, Employment: 63.4
Time_period: 1997 Q1, Employment: 64.0
Time_period: 1998 Q1, Employment: 64.4
Time_period: 1999 Q1, Employment: 65.2
Time_period: 2000 Q1, Employment: 65.6
Time_period: 2001 Q1, Employment: 65.9
Time_period: 2002 Q1, Employment: 66.1
Time_period: 2003 Q1, Employment: 66.4
Time_period: 2004 Q1, Employment: 66.8
Time_period: 2005 Q1, Employment: 66.9
Time_period: 2006 Q1, Employment: 67.1
Time_period: 2007 Q1, Employment: 66.4
Time_period: 2008 Q1, Employment: 67.0
Time_period: 2009 Q1, Employment: 66.2
Time_period: 2010 Q1, Employment: 65.6
Time_period: 2011 Q1, Employment: 65.5
Time_period: 2012 Q1, Employment: 65.4
Time_period: 2013 Q1, Employment: 66.5
Time_period: 2014 Q1, Employment: 67.6
Time_period: 2015 Q1, Employment: 68.6
Time_period: 2016 Q1, Employment: 69.2
Time_period: 2017 Q1, Employment: 70.2
Time_period: 2018 Q1, Employment: 71.2
Time_period: 2019 Q1, Employment: 71.8
Time_period: 2020 Q1, Employment: 72.5
Time_period: 2021 Q1, Employment: 71.6
Time_period: 2022 Q1, Employment: 72.3
Time_period: 2023 Q1, Employment: 72.3

Calculate some statistics from your lists (e.g. mean, max, min, etc for all years, for the same quarter, or month, over all years, etc) and think about correlation between quarter and employment rate - can you show this?

Think about how you might visualise something like the average for each quarter over the years available.  Maybe you can print a number of stars on a line for each 1%?  e.g.

```
Q1 ***************************************************
Q2 **********************************************************
Q3 *****************************************************************
Q4 ***************************************************
```